.sidespace {
    float: left;
    width: 10%;
}

.centerspace {
    width: 100%;
    padding: 0px 5%;
}

.item {
    float: left;
    width: 30%;
    overflow-y: auto;
    overflow-x: auto;
}

.item h2 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.item iframe {
    border: none;
    padding: 20px;
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

iframe {
    display: block;
    border-style:none;
}